albumentations==1.4.22
pytorch-lightning==2.4.0
torch
timm
torchvision
pyyaml
numpy
pandas
pyarrow
torchmetrics
scikit-learn
scikit-image
transformers
seaborn
wandb
loguru
imagededup
iterative-stratification
globox
